img {
  width: 200px;
  height: 200px;
  margin: 5px;
}

ul {
  background-color: hsla(270, 100%, 100%, 0.5);
}

header {
  background-color: hsla(270, 100%, 100%, 0.5);
  width: 400px;
}

body {
  background-image: url('../images/blueburst.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#pic * {
  display: inline;
}

figcaption {
  background-color: hsla(270, 100%, 100%, 0.5);
}
